{%  extends 'mysite/base.html'  %}

{% block content %}
<div class="container">
     <div class="row">
          <div class="col-md-9">
               <br>
               <h2>カード登録・更新</h2>
               <br>

               <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                         <label class="fs-4">カテゴリー</label>
                         <br>
                         {{ form.category}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">色</label>
                         {{ form.color}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">URL</label>
                         {{ form.url}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">引用箇所</label>
                         {{ form.section}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">タイトル</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_1">音声入力開始</button>
                         <button class="btn btn-rounded btn-secondary form-button" id="ISBNbutton" data-mdb-toggle="modal" data-mdb-dismiss="modal" data-mdb-target="#ISBNModal">バーコード読み取り</button>
                         <!-- Modal -->
                         <div class="modal fade" id="ISBNModal" tabindex="-1" aria-labelledby="ISBNModalTitle" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-scrollable">
                                   <div class="modal-content">
                                        <div class="modal-header">
                                             <h5 class="modal-title" id="ISBNModalTitle">ISBNコードを読み取ってください</h5>
                                        {% comment %} <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button> {% endcomment %}
                                        </div>
                                        <div class="modal-body">
                                             <div id="photo-area" class="viewport"></div>
                                             <input class='input bg-white mb16' type='search' id='q' />
                                             <button id="readbook" class="btn btn-primary">検索</button>
                                             <div>
                                                  <h5 class='mb8'>検索結果</h5>
                                                  <div id='results'></div>
                                             </div>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                                             Close
                                        </button>
                                        </div>
                                   </div>
                              </div>
                         </div>             
                         {{ form.title}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">サブタイトル</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_2">音声入力開始</button>
                         {{ form.subtitle}}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">本文</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_3">音声入力開始</button>
                         {{form.content }}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">どういうこと？</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_4">音声入力開始</button>
                         {{form.what }}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">理由は？</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_5">音声入力開始</button>
                         {{form.why }}
                    </div>
                    <br>
                    <div class="form-group">
                         <label class="fs-4">何故重要なの？</label>
                         <button class="btn btn-rounded form-button" id="speechbutton_6">音声入力開始</button>
                         {{form.sowhat }}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">保存</button>
                    <a href="javascript:void(0);" onclick="window.history.back();" class="btn btn-outline-dark">戻る</a>
                    <br>
                    <br>

               </form>
          </div>

     </div>
</div>

{% endblock %}