{% extends 'mysite/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <br>
            <h2 class="text-white">Tag List</h2>
            <br>
        </div>
    </div>
    <div class="row">   
    
        {% for item in tag_list %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a  href="{% url 'learning:tag_detail' item.slug %}">{{ item.name }}</a></h4>   
                    <hr>
                    {% for card in item.card_set.all|slice:":2" %}
                    <p><a href="{% url 'learning:card_detail' %}" style="color:black;">{{ card.title}}</a></p>
                    {% endfor %}
                    <br><br>
                    <a  href="{% url 'learning:tag_detail' item.slug %}">このタグのカードを全て見る</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
</div>

{% endblock %}