{% extends 'mysite/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <br>
            <h2>{{object.name}}</h2>
            <hr>
            <ul class="list-group">
                {% for item in tag_cards %}
                <li class="list-group-item"><a href="{% url 'learning:tag_detail' item.slug %}">{{ item.name }}</a></li>
                <hr>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


{% endblock %}