{% extends 'mysite/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <br>
            <h2>カード一覧</h2>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th width="400px" class="text-black">タイトル</th>
                        <th width="400px" class="text-black">見出し</th>
                        <th width="400px" class="text-black">URL</th>
                        <th width="400px" class="text-black">該当箇所</th>
                        <th width="400px" class="text-black">本文</th>
                        <th width="400px" class="text-black">What</th>
                        <th width="400px" class="text-black">Why</th>
                        <th width="400px" class="text-black">So What</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- モデル名_listで自動的に渡される -->
                    {% for item in card_list %}
                    <tr>
                        <td><a href="{% url 'learning:card_detail' item.pk %}" class="text-black text-decoration-underline">{{item.title}}</a></td>
                        <td>{{item.subtitle|safe|truncatechars_html:30}}</td>
                        <td>{{item.url|safe|truncatechars_html:30}}</td>
                        <td>{{item.section|safe|truncatechars_html:30}}</td>
                        <td>{{item.content|safe|truncatechars_html:30}}</td>
                        <td>{{item.what|safe|truncatechars_html:30}}</td>
                        <td>{{item.why|safe|truncatechars_html:30}}</td>
                        <td>{{item.sowhat|safe|truncatechars_html:30}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% comment %} <br> {% endcomment %}
            {% comment %} {% include 'mysite/pagenation.html' %} {% endcomment %}
            {% comment %} <br> {% endcomment %}
        </div>

    </div>
</div>

{% endblock %}