{%  extends 'mysite/base.html'  %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mdb.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <div class="container">
        <div class="row">
                <div class="d-flex open-editor">
                    <h4>{{ request.user }}さん Nevernoteへようこそ！</h4>
                    <button class="btn btn-light-blue btn-md">エディタを開く</button>
                </div>
                {% for item in card_list %}

                <div class="col-sm-3 card text-center swiper-slide dragcard "  draggable="true">
                    <div class="card-header card-color text-white">
                        {{ item.category }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <a href="{% url 'learning:card_detail' item.id %}" type="button" class="btn btn-light-blue btn-md">もっと読む</a>
                    </div>
                    <div class="card-footer text-muted">
                        <a class="btn btn-light " data-mdb-ripple-color="dark" data-mdb-toggle="collapse"
                            href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            内容を見る
                        </a>
                        <div class="collapse mt-3" id="collapseExample">
                            ・意味：{{ item.what }}</br>
                            ・原因：{{ item.why }}</br>
                            ・考え：{{ item.sowhat }}</br>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-8 index-editor">
                <div id="quill-editor_1"></div>
            </div>
        </div>
    </div>

    <script>
        const color_array =["bg-primary","bg-secondary","bg-success","bg-danger","bg-warning","bg-info"];
        let color_num = Math.ceil(Math.random() * color_array.length);
        let color=color_array[color_num];
        $(".card-color").addClass(color);
    </script>







{% endblock %}
