{% extends 'mysite/base.html' %}

{% block content %}

        <div class="col-md-4">
            <br>
            <h2>Signup</h2>
            <br>

            <form action="" method="post">
                {% csrf_token %}
                <!-- 共通のエラーメッセージを出す -->
                {{form.non_field_errors}}
                {% for field in form %}
                {{ field.label }}
                {{ field }}
                {{ field.errors}}
                <br>
                {% endfor %}
                <button type="submit" class="btn btn-success">Signup</button>
                <br><br>

            </form>
        </div>

 

{% endblock %}